# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Sharly Chess
email: contact@sharly-chess.com
title_tag:
  en: Sharly Chess - Open Source Chess Tournament Management Software
  fr: Sharly Chess - Logiciel libre de gestion de tournois d’échecs
description:
  en: "Manage chess tournaments with ease. Sharly Chess is an open-source tool for arbiters and organizers: Swiss pairings, standings, results, multi-language support, web configuration, and multi-screen support."
  fr: "Gérez vos tournois d’échecs en toute simplicité. Sharly Chess est un outil open source pour arbitres et organisateur·ices : appariements suisse, classements, résultats, support multilingue, configuration web et gestion multi-écrans."
keywords:
  en: chess tournament software, chess tournament manager, Swiss-system pairing, chess pairing software, open source chess software, FIDE chess tournament, chess results software, tournament arbiter tool, chess cross tables, online chess tournaments
  fr: logiciel tournoi échecs, gestion tournoi échecs, appariement suisse, logiciel appariements échecs, logiciel open source échecs, tournoi homologué FIDE, résultats tournoi échecs, outil arbitre échecs, grille américaine échecs, tournois d’échecs en ligne
baseurl: "" # the subpath of your site, e.g. /blog
permalink: :categories/:year/:month/:day/:slug:output_ext
url: "https://sharly-chess.com" # the base hostname & protocol for your site, e.g. http://example.com
favicon_ico: "/assets/images/favicon.ico"

doc_version: 2.6.0
latest_version: 2.5.8
github_url: "https://github.com/sharly-chess/sharly-chess"

# Build settings
parallel_localization: false
theme: just-the-docs
plugins:
  - jekyll-feed
  - jemoji
  - jekyll-figure

color_scheme: sc
languages: ["en","fr"]
default_lang: "en"
exclude_from_localization: ["javascript", "images", "css", "public", " sitemap"]
lang_from_path: true
langsep: "|"
search_enabled: true
excerpt_separator: <!--more-->

callouts:
  note:
    color: blue
  tip:
    color: yellow
  warning:
    color: red

sass:
  quiet_deps: true # https://github.com/just-the-docs/just-the-docs/issues/1541
  silence_deprecations: ['import'] # https://github.com/just-the-docs/just-the-docs/issues/1607

collections:
  footer-links:
    output: true

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
