a:hover {
  color: #e9e1cf;
}

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;

}
.language-switcher img {
    height: 1.5em;
    width: 2.25em;
    border: white solid 1px;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 2px;

  h3 {
    margin-top: 0.2rem;
  }

  & + & {
    margin-top: 2rem;
  }
}

.post-link {
  display: block;
}

.post-header {
  margin-bottom: $spacing-unit;
  padding-bottom: 18px;
  text-align: center;
}

.post-meta {
  font-size: 0.8rem;
  font-style: italic;

  .bullet-divider { padding-inline: 15px }
  .meta-label { font-weight: 600 }

  .force-inline {
    display: inline;
    &::before {
      content: "•";
      padding-inline: 5px;
    }
  }
  .post-authors { margin-top: 3px }
}

.read-more {
  font-size: 0.8rem;
  font-style: italic;
}

.title-version {
  font-size: 0.7rem;
}

@media (min-width: 50rem) {
  footer, hr:has(+ footer) {
    display: none;
  }
}

.side-footer {
  display: none;
}
@media (min-width: 50rem) {
  .side-footer {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-end;
    text-align: right
  }
}

.main-content h1:first-of-type {
  margin-top: 0;
}

.nav-list-separator {
  border-top: 1px solid #44434d;
  padding-top: 1rem;
  margin-top: 1rem;
}

.emoji {
  position: relative;
  top: 0.2rem;
}
