{% assign title = page.title | default: site.title_tag[site.active_lang] %}
{% assign description = page.description | default: site.localized_description[site.active_lang] %}
{% assign keywords = page.keywords | default: site.keywords[site.active_lang] %}

<!-- Primary Meta Tags -->
<title>Sharly Chess - {{ title }}</title>
<meta name="title" content="Sharly Chess - {{ title }}">
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ page.keywords | default: site.keywords[site.active_lang] }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}/">
<meta property="og:title" content="Sharly Chess - {{ title }}">
<meta property="og:description" content="{{ description }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}/">
<meta property="twitter:title" content="Sharly Chess - {{ title }}">
<meta property="twitter:description" content="{{ description }}">

{% I18n_Headers %}
{% if site.search_enabled != false %}
   <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | absolute_url }}"></script>
   <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.multi.min.js' | absolute_url }}"></script>
   <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.stemmer.support.min.js' | absolute_url }}"></script>
   <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.fr.min.js' | absolute_url }}"></script>
{% endif %}
