---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body class="home">
  <header>
    <div class="container">
      <img src="/assets/logo.svg" class="logo"">
      {% contentblock header %}
    </div>
  </header>

  <section class="hero">
    {% contentblock main %}
  </section>

  <section class="testimonial-arbiters">
    <div class="testimonial-section">
      {% contentblock arbiters %}

      <img class="screenshot sepia" src="/assets/images/domloup-fide-wide.jpg">
    </div>
  </section>

  <section class="testimonial-players">
    <div class="testimonial-section">
      {% contentblock players %}

      <div class="carousel sepia">
        <img src="/assets/images/domloup-rapide-4.jpg">
        <img src="/assets/images/domloup-fide-7.jpg">
        <img src="/assets/images/domloup-rapide-3.jpg">
      </div>
    </div>
  </section>

  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%}
    <section class="news">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <h1>{{ site.data[site.active_lang].strings.latest_news }}</h1>
      {% for post in posts limit:3 %}
        <div class="news-item">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {% if post.summary %}
            {{ post.summary | markdownify }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
          <a class="read-more" href="{{ post.url | relative_url }}">
            {{ site.data[site.active_lang].strings.read_more }}
          </a>
        </div>
      {% endfor %}
    </section>
  {%- endif -%}

  <footer>
    {% contentblock footer %}
    {% include header_custom.html %}
  </footer>
</body>
</html>
