---
layout: table_wrappers
---

{% assign lang = site.active_lang | default: site.default_lang %}
{% assign strings = site.data[lang].strings %}
{% assign index = site.data.index %}

<!DOCTYPE html>

<html lang="{{ lang }}">
{% include head.html %}
<body class="index">
  <header>
    {% include header_custom.html %}
    <div class="container">
      <div class="logo">
        {% include logo.svg %}
      </div>
      <p>{{ index.description[lang] }}</p>
    </div>
  </header>

  {% assign links = index.links %}
  <section class="links">
    <div class="carousel">
      {% for link in links.items %}
        <div>
          <h2>{{ link.title[lang] }}</h2>
          <p>{{ link.subtitle[lang] }}</p>
          <p><a href="{{ link.url[lang] }}"><img src="assets/images/index/{{ link.image.basename }}.{{ lang }}.jpg"></a></p>
          <p><a class="btn" href="{{ link.url[lang] }}">{{ link.button_text[lang] }}</a></p>
        </div>
      {% endfor %}
    </div>
  </section>

  {% assign easy_life = index.easy_life %}
  <section class="features-easy-life">
    <div class="features-section">
      <h1>{{ easy_life.title[lang] }}</h1>
      <h2>{{ easy_life.text[lang] }}</h2>
      <div class="features-inline">
        {% for item in easy_life.items %}
          <div
            class="feature-box {{ item.box.class }}"
          >
            <div class="feature-content">
              <strong>{{ item.title[lang] }}</strong><br/>
              {{ item.text[lang] }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% assign made_by = index.made_by %}
  <section class="features-made-by">
    <div class="features-section">
      <h1>{{ made_by.title[lang] }}</h1>
      <h2>{{ made_by.text[lang] }}</h2>
      <div class="carousel">
        {% for image in made_by.images %}
          <img src="assets/images/index/{{ image.basename }}.{{ lang }}.jpg">
        {% endfor %}
      </div>
      <p><a class="btn big" href="{{ made_by.button_url[lang] }}">{{ made_by.button_text[lang] }}</a></p>
    </div>
    <div class="separator" />
  </section>

  {% assign arbiters = index.arbiters %}
  <section class="features-arbiters">
    <div class="features-section">
      <h1>{{ arbiters.title[lang] }}</h1>
      <p>{{ arbiters.text[lang] }}</p>
      <div class="features-inline">
        {% for item in arbiters.items %}
          <div
            class="feature-box"
          >
            <div class="feature-content">
              <strong>{{ item.title[lang] }}</strong><br/>
              {{ item.text[lang] }}
            </div>
          </div>
        {% endfor %}
      </div>
      <p><img class="{{ arbiters.image.class }}" src="assets/images/index/{{ arbiters.image.name }}"></p>
    </div>
    <div class="separator" />
  </section>

  {% assign players = index.players %}
  <section class="features-players">
    <div class="features-section">
      <h1>{{ players.title[lang] }}</h1>
      <p>{{ players.text[lang] }}</p>
      <div class="features-inline">
        {% for item in players.items %}
          <div
            class="feature-box"
          >
            <div class="feature-content">
              <strong>{{ item.title[lang] }}</strong><br/>
              {{ item.text[lang] }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="carousel">
        {% for image in players.images %}
          <img src="assets/images/index/{{ image.name }}">
        {% endfor %}
      </div>
    </div>
  </section>

  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%}
    <section class="news">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <h1>{{ strings.latest_news }} <a href="/feed.xml" target="_blank"><i class="bi-rss-fill"></i></a></h1>
      {% for post in posts limit:3 %}
        <div class="news-item">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {% if post.summary %}
            {{ post.summary | markdownify }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
          <a class="read-more" href="{{ post.url | relative_url }}">
            {{ strings.read_more }}
          </a>
        </div>
      {% endfor %}
      <p><a class="btn" href="{% link news.{{ lang }}.md %}">{{ strings.see_all_posts }}</a></p>
    </section>
{%- endif -%}

  <footer>
      {{ strings.copyright }}.
      {{ strings.slogan }}
  </footer>
</body>
</html>
