---
layout: table_wrappers
---

{% assign lang = site.active_lang | default: site.default_lang %}
{% assign strings = site.data[lang].strings %}

<!DOCTYPE html>

<html lang="{{ lang }}">
{% include head.html %}
<body class="thp">
  <header>
    {% include header_custom.html %}
    <div class="container">
      <div class="logo">
        {% include logo.svg %}
      </div>
      {% contentblock header %}
      {{ site.thp.description }}

    </div>
  </header>

  <section class="hero">
    {% contentblock main %}
  </section>

  <section class="features-arbiters">
    <div class="features-section">
      {% contentblock arbiters %}

      <img class="screenshot sepia" src="/assets/images/domloup-fide-wide.jpg">
    </div>
  </section>

  <section class="features-players">
    <div class="features-section">
      {% contentblock players %}

      <div class="carousel sepia">
        <img src="/assets/images/domloup-rapide-4.jpg">
        <img src="/assets/images/domloup-fide-7.jpg">
        <img src="/assets/images/domloup-rapide-3.jpg">
      </div>
    </div>
  </section>

  {% include last_posts.html %}

  <footer>
      {{ strings.copyright }}.
      {{ strings.slogan }}
  </footer>
</body>
</html>
